---
import '../styles/global.css';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
const pageTitle = "About Me";

const identity = {
  firstName: "Zain",
  country: "Pakistan",
  occupation: "Technical Writer",
  hobbies: ["reading", "walking", "basketball", "traveling"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "crimson";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
        
        {/* Added define:vars here and used var(--skillColor) below */}
        <style define:vars={{ skillColor }}>
            h1 {
                color: purple;
                font-size: 4rem;
            }
            .skill {
                color: var(--skillColor);
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <Header />
          <h1>{pageTitle}</h1>
            <h2>... and my new Astro site!</h2>

            <p>I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p>

            <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>
            <p>Here are a few facts about me:</p>
            <ul>
                <li>My name is {identity.firstName}.</li>
                <li>I am from {identity.country}.</li>
                <li>I work as a {identity.occupation}.</li>
                <li>My hobbies include {identity.hobbies.join(", ")}.</li>
            </ul>
            <p>Here are some skills I've developed:</p>
            <ul>
                {skills.map((skill) => (
                    <li class="skill">{skill}</li>
                ))}
            </ul>
            {happy && <p>I am happy to be learning Astro!</p>}
            {finished && <p>I finished this tutorial!</p>}
            {goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
            <Footer />
    </body>
</html>